<!DOCTYPE html>
<html>
<head>
  <title>BlogFlash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Hello</h1>
<%= yield %>
<ul>
  <li>Break</li>
  <li>Lesson</li>
  <li>Animal</li>
</ul>
</body>
</html>
